














body > .el-dropdown__popper:not(.playlist-card-dropdown),
body > .el-select__popper,
body > .el-picker__popper,
body > .el-cascader__popper {
  position: fixed !important;
  z-index: 9999 !important;
}


body > [data-popper-placement]:not(.playlist-card-dropdown) {
  position: fixed !important;
  z-index: 9999 !important;
}









