<?xml version="1.0" encoding="UTF-8"?>
    
                      
                               
                   
  
          
                                          
                       
                   
                      
               
   

<configuration>
                              
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

                   
    <property name="LOG_HOME" value="${LOG_HOME:-logs}"/>
    <property name="APP_NAME" value="${LOG_APP_NAME:-haoran-music}"/>
    <property name="MAX_FILE_SIZE" value="${LOG_MAX_FILE_SIZE:-100MB}"/>
    <property name="MAX_HISTORY" value="${LOG_MAX_HISTORY:-14}"/>
    <property name="TOTAL_SIZE_CAP" value="${LOG_TOTAL_SIZE_CAP:-2GB}"/>
    <property name="ERROR_MAX_HISTORY" value="${LOG_ERROR_MAX_HISTORY:-30}"/>
    <property name="ERROR_TOTAL_SIZE_CAP" value="${LOG_ERROR_TOTAL_SIZE_CAP:-512MB}"/>
    <property name="MODULE_MAX_FILE_SIZE" value="${LOG_MODULE_MAX_FILE_SIZE:-50MB}"/>
    <property name="MODULE_MAX_HISTORY" value="${LOG_MODULE_MAX_HISTORY:-14}"/>
    <property name="MODULE_TOTAL_SIZE_CAP" value="${LOG_MODULE_TOTAL_SIZE_CAP:-512MB}"/>
    <property name="SQL_MAX_HISTORY" value="${LOG_SQL_MAX_HISTORY:-7}"/>
    <property name="SQL_TOTAL_SIZE_CAP" value="${LOG_SQL_TOTAL_SIZE_CAP:-256MB}"/>
    <property name="API_MAX_HISTORY" value="${LOG_API_MAX_HISTORY:-7}"/>
    <property name="API_TOTAL_SIZE_CAP" value="${LOG_API_TOTAL_SIZE_CAP:-256MB}"/>
    <property name="CONSOLE_THRESHOLD_LEVEL" value="${LOG_CONSOLE_LEVEL:-INFO}"/>

                 
    <property name="CONSOLE_LOG_PATTERN"
              value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(%5p) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n"/>
    <property name="FILE_LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${PID:- } --- [%t] %-40.40logger{39} : %m%n"/>

                                                       
                    
                                                       
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
                                             
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${CONSOLE_THRESHOLD_LEVEL}</level>
        </filter>
    </appender>

                                                       
                   
                                                       
    <appender name="FILE_ALL" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/${APP_NAME}.log</file>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/${APP_NAME}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>${MAX_FILE_SIZE}</maxFileSize>
            <maxHistory>${MAX_HISTORY}</maxHistory>
            <totalSizeCap>${TOTAL_SIZE_CAP}</totalSizeCap>
        </rollingPolicy>
    </appender>

                                                       
                         
                                                       
    <appender name="FILE_ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/${APP_NAME}-error.log</file>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/${APP_NAME}-error.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>${MAX_FILE_SIZE}</maxFileSize>
            <maxHistory>${ERROR_MAX_HISTORY}</maxHistory>
            <totalSizeCap>${ERROR_TOTAL_SIZE_CAP}</totalSizeCap>
        </rollingPolicy>
    </appender>

                                                       
                   
                                                       
    <appender name="FILE_PAYMENT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/module/payment.log</file>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/module/payment.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>${MODULE_MAX_FILE_SIZE}</maxFileSize>
            <maxHistory>${MODULE_MAX_HISTORY}</maxHistory>
            <totalSizeCap>${MODULE_TOTAL_SIZE_CAP}</totalSizeCap>
        </rollingPolicy>
    </appender>

                                                       
                    
                                                       
    <appender name="FILE_CREATOR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/module/creator.log</file>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/module/creator.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>${MODULE_MAX_FILE_SIZE}</maxFileSize>
            <maxHistory>${MODULE_MAX_HISTORY}</maxHistory>
            <totalSizeCap>${MODULE_TOTAL_SIZE_CAP}</totalSizeCap>
        </rollingPolicy>
    </appender>

                                                       
                   
                                                       
    <appender name="FILE_MODERATION" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/module/moderation.log</file>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/module/moderation.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>${MODULE_MAX_FILE_SIZE}</maxFileSize>
            <maxHistory>${MODULE_MAX_HISTORY}</maxHistory>
            <totalSizeCap>${MODULE_TOTAL_SIZE_CAP}</totalSizeCap>
        </rollingPolicy>
    </appender>

                                                       
                   
                                                       
    <appender name="FILE_RECOMMEND" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/module/recommend.log</file>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/module/recommend.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>${MODULE_MAX_FILE_SIZE}</maxFileSize>
            <maxHistory>${MODULE_MAX_HISTORY}</maxHistory>
            <totalSizeCap>${MODULE_TOTAL_SIZE_CAP}</totalSizeCap>
        </rollingPolicy>
    </appender>

                                                       
                   
                                                       
    <appender name="FILE_USER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/module/user.log</file>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/module/user.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>${MODULE_MAX_FILE_SIZE}</maxFileSize>
            <maxHistory>${MODULE_MAX_HISTORY}</maxHistory>
            <totalSizeCap>${MODULE_TOTAL_SIZE_CAP}</totalSizeCap>
        </rollingPolicy>
    </appender>

                                                       
                    
                                                       
    <appender name="FILE_SQL" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/module/sql.log</file>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/module/sql.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>${MODULE_MAX_FILE_SIZE}</maxFileSize>
            <maxHistory>${SQL_MAX_HISTORY}</maxHistory>
            <totalSizeCap>${SQL_TOTAL_SIZE_CAP}</totalSizeCap>
        </rollingPolicy>
    </appender>

                                                       
                    
                                                       
    <appender name="FILE_API" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/module/api.log</file>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/module/api.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>${MODULE_MAX_FILE_SIZE}</maxFileSize>
            <maxHistory>${API_MAX_HISTORY}</maxHistory>
            <totalSizeCap>${API_TOTAL_SIZE_CAP}</totalSizeCap>
        </rollingPolicy>
    </appender>

                                                       
                          
                                                       
    <appender name="ASYNC_FILE_ALL" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="FILE_ALL"/>
        <queueSize>512</queueSize>
        <discardingThreshold>0</discardingThreshold>
    </appender>

    <appender name="ASYNC_FILE_ERROR" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="FILE_ERROR"/>
        <queueSize>256</queueSize>
        <discardingThreshold>0</discardingThreshold>
                          
        <neverBlock>true</neverBlock>
    </appender>

                                                       
                   
                                                       

                                        
    <logger name="com.haoran.music.common.aspect.ApiLogAspect" level="${LOG_API_LOG_ASPECT_LEVEL:-WARN}"/>
    <logger name="com.haoran.music.common.interceptor.AuthInterceptor" level="${LOG_AUTH_INTERCEPTOR_LEVEL:-WARN}"/>
    <logger name="com.haoran.music.service.impl.NotificationServiceImpl" level="${LOG_NOTIFICATION_LEVEL:-WARN}"/>
    <logger name="com.haoran.music.service.impl.MessageServiceImpl" level="${LOG_MESSAGE_LEVEL:-WARN}"/>

                   
    <logger name="com.haoran.music.service.impl.PaymentServiceImpl" level="INFO" additivity="false">
        <appender-ref ref="FILE_PAYMENT"/>
        <appender-ref ref="ASYNC_FILE_ALL"/>
    </logger>
    <logger name="com.haoran.music.controller.PaymentController" level="INFO" additivity="false">
        <appender-ref ref="FILE_PAYMENT"/>
        <appender-ref ref="FILE_API"/>
    </logger>
    <logger name="com.haoran.music.service.impl.WithdrawServiceImpl" level="INFO" additivity="false">
        <appender-ref ref="FILE_PAYMENT"/>
        <appender-ref ref="ASYNC_FILE_ALL"/>
    </logger>
    <logger name="com.haoran.music.controller.WithdrawController" level="INFO" additivity="false">
        <appender-ref ref="FILE_PAYMENT"/>
        <appender-ref ref="FILE_API"/>
    </logger>

                    
    <logger name="com.haoran.music.service.impl.CreatorServiceImpl" level="INFO" additivity="false">
        <appender-ref ref="FILE_CREATOR"/>
        <appender-ref ref="ASYNC_FILE_ALL"/>
    </logger>
    <logger name="com.haoran.music.controller.CreatorController" level="INFO" additivity="false">
        <appender-ref ref="FILE_CREATOR"/>
        <appender-ref ref="FILE_API"/>
    </logger>
    <logger name="com.haoran.music.service.impl.PaidResourceServiceImpl" level="INFO" additivity="false">
        <appender-ref ref="FILE_CREATOR"/>
        <appender-ref ref="ASYNC_FILE_ALL"/>
    </logger>

                   
    <logger name="com.haoran.music.service.impl.ModerationServiceImpl" level="INFO" additivity="false">
        <appender-ref ref="FILE_MODERATION"/>
        <appender-ref ref="ASYNC_FILE_ALL"/>
    </logger>
    <logger name="com.haoran.music.controller.ModerationController" level="INFO" additivity="false">
        <appender-ref ref="FILE_MODERATION"/>
        <appender-ref ref="FILE_API"/>
    </logger>
    <logger name="com.haoran.music.websocket.ModerationWebSocketHandler" level="${LOG_WEBSOCKET_LEVEL:-WARN}" additivity="false">
        <appender-ref ref="FILE_MODERATION"/>
        <appender-ref ref="ASYNC_FILE_ALL"/>
    </logger>

                   
    <logger name="com.haoran.music.service.impl.RecommendServiceImpl" level="INFO" additivity="false">
        <appender-ref ref="FILE_RECOMMEND"/>
        <appender-ref ref="ASYNC_FILE_ALL"/>
    </logger>
    <logger name="com.haoran.music.service.impl.SocialRecommendServiceImpl" level="INFO" additivity="false">
        <appender-ref ref="FILE_RECOMMEND"/>
        <appender-ref ref="ASYNC_FILE_ALL"/>
    </logger>
    <logger name="com.haoran.music.controller.RecommendController" level="INFO" additivity="false">
        <appender-ref ref="FILE_RECOMMEND"/>
        <appender-ref ref="FILE_API"/>
    </logger>

                   
    <logger name="com.haoran.music.service.impl.UserServiceImpl" level="INFO" additivity="false">
        <appender-ref ref="FILE_USER"/>
        <appender-ref ref="ASYNC_FILE_ALL"/>
    </logger>
    <logger name="com.haoran.music.controller.UserController" level="INFO" additivity="false">
        <appender-ref ref="FILE_USER"/>
        <appender-ref ref="FILE_API"/>
    </logger>
    <logger name="com.haoran.music.controller.AuthController" level="INFO" additivity="false">
        <appender-ref ref="FILE_USER"/>
        <appender-ref ref="FILE_API"/>
    </logger>

                  
    <logger name="com.haoran.music.mapper" level="${LOG_SQL_LEVEL:-WARN}" additivity="false">
        <appender-ref ref="FILE_SQL"/>
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="com.baomidou.mybatisplus" level="${LOG_SQL_LEVEL:-WARN}" additivity="false">
        <appender-ref ref="FILE_SQL"/>
    </logger>

                      
    <logger name="com.haoran.music.controller" level="${LOG_CONTROLLER_LEVEL:-WARN}" additivity="false">
        <appender-ref ref="FILE_API"/>
        <appender-ref ref="CONSOLE"/>
    </logger>

                        
    <logger name="org.apache.kafka" level="WARN"/>
    <logger name="org.apache.hadoop" level="WARN"/>
    <logger name="org.apache.spark" level="WARN"/>
    <logger name="org.springframework" level="INFO"/>
    <logger name="com.alibaba.druid" level="INFO"/>

                                                       
                  
                                                       
    <springProfile name="dev">
        <root level="${LOG_DEV_ROOT_LEVEL:-DEBUG}">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="ASYNC_FILE_ALL"/>
            <appender-ref ref="ASYNC_FILE_ERROR"/>
        </root>
    </springProfile>

    <springProfile name="prod">
        <root level="${LOG_ROOT_LEVEL:-INFO}">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="ASYNC_FILE_ALL"/>
            <appender-ref ref="ASYNC_FILE_ERROR"/>
        </root>
    </springProfile>

    <springProfile name="!dev &amp; !prod">
        <root level="${LOG_ROOT_LEVEL:-INFO}">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="ASYNC_FILE_ALL"/>
            <appender-ref ref="ASYNC_FILE_ERROR"/>
        </root>
    </springProfile>
</configuration>
